---
import Layout from "../../layouts/Layout.astro";
import ContactForm from "../../components/ContactForm.jsx"; // Новый компонент
---

<Layout>
    <section class="text-gray-600 body-font relative dark:text-white">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-col text-center w-full mb-12">
                <h1
                    class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900 dark:text-white"
                >
                    Контактная информация
                </h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
                    <a class="contacts" href="https://t.me/defl_illusion"
                        >Telegram: @defl_illusion</a
                    >
                    <br />
                    <a class="contacts" href="mailto:defl_illusion@mail.ru"
                        >Электронная почта: defl_illusion@mail.ru</a
                    >
                </p>
            </div>

            <!-- Подключаем React-компонент -->
            <ContactForm client:load />

            <div
                class="p-2 w-full pt-8 mt-8 border-t border-gray-200 text-center"
            >
                <p class="leading-normal my-5">Astana, Kazakhstan</p>
            </div>
        </div>
    </section>
</Layout>
