---
import Layout from "../../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <h1
        class="text-3xl font-bold text-center text-gray-900 dark:text-white px-4 sm:px-6"
    >
        <br />
        Меня зовут Ерик. 33 года. На эти 6 месяцев обучения у меня есть несколько
        целей.
    </h1>

    <section class="text-gray-600 body-font dark:text-white">
        <div class="container px-4 sm:px-6 py-24 mx-auto flex flex-wrap">
            <div
                class="lg:w-1/2 h-full mb-10 lg:mb-0 rounded-lg overflow-hidden"
            >
                <img
                    alt="mamkin_hacker"
                    class="object-cover object-center h-full w-full"
                    src="/images/758RR.png"
                />
            </div>
            <div
                class="flex flex-col flex-wrap lg:py-6 -mb-10 lg:w-1/2 lg:pl-12 lg:text-left text-center"
            >
                <div
                    class="flex flex-col mb-10 lg:items-start items-center px-4 lg:px-0"
                >
                    <div
                        class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5"
                    >
                        <svg
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            class="w-6 h-6"
                            viewBox="0 0 24 24"
                        >
                            <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                        </svg>
                    </div>
                    <div class="flex-grow">
                        <h2
                            class="text-gray-900 text-lg title-font font-medium mb-3 dark:text-white"
                        >
                            Цель 1
                        </h2>
                        <p class="leading-relaxed text-base">
                            Пройти обучение и начать самостоятельно писать код.
                        </p>
                        <a
                            class="mt-3 text-indigo-500 inline-flex items-center"
                        >
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                class="w-4 h-4 ml-2"
                                viewBox="0 0 24 24"
                            >
                                <path d="M5 12h14M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                    </div>
                </div>
                <div
                    class="flex flex-col mb-10 lg:items-start items-center px-4 lg:px-0"
                >
                    <div
                        class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5"
                    >
                        <svg
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            class="w-6 h-6"
                            viewBox="0 0 24 24"
                        >
                            <circle cx="6" cy="6" r="3"></circle>
                            <circle cx="6" cy="18" r="3"></circle>
                            <path
                                d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"
                            ></path>
                        </svg>
                    </div>
                    <div class="flex-grow">
                        <h2
                            class="text-gray-900 text-lg title-font font-medium mb-3 dark:text-white"
                        >
                            Цель 2
                        </h2>
                        <p class="leading-relaxed text-base">
                            Создать приложение для учета расходов.
                        </p>
                        <a
                            class="mt-3 text-indigo-500 inline-flex items-center"
                        >
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                class="w-4 h-4 ml-2"
                                viewBox="0 0 24 24"
                            >
                                <path d="M5 12h14M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                    </div>
                </div>
                <div
                    class="flex flex-col mb-10 lg:items-start items-center px-4 lg:px-0"
                >
                    <div
                        class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5"
                    >
                        <svg
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            class="w-6 h-6"
                            viewBox="0 0 24 24"
                        >
                            <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"
                            ></path>
                            <circle cx="12" cy="7" r="4"></circle>
                        </svg>
                    </div>
                    <div class="flex-grow">
                        <h2
                            class="text-gray-900 text-lg title-font font-medium mb-3 dark:text-white"
                        >
                            Цель 3
                        </h2>
                        <p class="leading-relaxed text-base">
                            Найти работу по новой профессии.
                        </p>
                        <a
                            class="mt-3 text-indigo-500 inline-flex items-center"
                        >
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                class="w-4 h-4 ml-2"
                                viewBox="0 0 24 24"
                            >
                                <path d="M5 12h14M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>
