---
import Layout from "../../layouts/Layout.astro";
import ProjectsCard from "../../components/Projects-Card.astro";
const Projects = [
    {
        title: "Калькулятор на Python (dev-core-101)",
        img: "/images/calc_py.jpg",
        url: "https://github.com/deflillusion/full-stack-dev/blob/main/dev-core-101/dev-core-101-finalproject.py",
    },
    {
        title: "Текущий сайт (Astro)",
        img: "/images/my-website.jpg",
        url: "https://github.com/deflillusion/full-stack-dev/tree/f53cf8ba3390963b266ca1d8c93a7ea4eaa5c6e1/my-portfolio",
    },
    {
        title: "MVP приложение для учета расходов и доходов",
        img: "/images/MVP.jpg",
        url: "https://github.com/deflillusion/full-stack-dev/tree/f53cf8ba3390963b266ca1d8c93a7ea4eaa5c6e1/mvp-project",
    },
];
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <div
        class="container mx-auto flex px-1 py-5 items-center justify-center flex-col"
    >
        <h1
            class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900 text-center dark:text-white"
        >
            Проекты
        </h1>
    </div>
    <div class="text-gray-600 body-font">
        {
            Projects.map((data) => (
                <ProjectsCard
                    title={data.title}
                    url={data.url}
                    img={data.img}
                />
            ))
        }
    </div>
</Layout>
