html {

    background-image: url(images/background.jpg);

    background-repeat: no-repeat;

    background-position: center center;

    background-attachment: fixed;

    -webkit-background-size: cover;

    -moz-background-size: cover;

    -o-background-size: cover;

    background-size: cover;

    color: white;

}

nav {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    border: 2px solid #485fd2;
    border-radius: 30px;
    animation: slide-in 1s ease-out;
    white-space: nowrap;
}

nav ul {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    margin: 0;
    padding: 0 30px;
    list-style-type: none;
}

nav ul li:not(:last-child) {
    margin-right: 40px;
}

nav ul li {
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 10px;
    transition: background 0.2s;
}

nav ul li a {
    color: #84bbff;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.2s;
}




nav ul li:hover {
    background: #70c6ff;
    border: 2px solid 70c6ff;
    border-right: 2px solid 70c6ff;
    border-bottom: 2px solid 70c6ff;
}

nav ul li:hover a {
    color: #F9F8FD;
}

nav ul li:hover ul {
    visibility: visible;
    opacity: 0;

}

nav ul li:hover ul li a {
    color: #F9F8FD;
}

@keyframes slide-in {
    0% {
        top: -50px;
    }

    40% {
        top: 20px;
    }

    70% {
        top: 10px;
    }

    100% {
        top: 15px;
    }
}

main {
    position: absolute;
    top: 105px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;

    border-radius: 30px;

}

ul .contacts {
    color: white;

}

A .contacts {
    color: white;
    /* Цвет ссылок */
}

A:visited .contacts {
    color: #fca1ff;
    /* Цвет посещенных ссылок */
}

A:active .contacts {
    color: #ffff00;
    /* Цвет активных ссылок */
}