html {

    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {

    position: relative;
    /* Определяет позиционирование элементов внутри */
    padding: 50px;
    height: 100%;
    /*min-height: 100vh;
    /* Страница всегда имеет необходимый размер */
    display: flex;
    flex-direction: column;

}

/* Базовые стили */
nav ul {
    display: flex;
    /* Горизонтальное расположение */
    list-style: none;
    /* Убираем маркеры списка */
    margin: 0;
    padding: 0;
    background-color: #373754;
}

nav li {
    margin: 0 10px;
    /* Отступы между пунктами */
}

nav a {
    text-decoration: none;
    /* Убираем подчеркивание */
    color: white;
    /* Цвет текста */
    padding: 10px 15px;
    display: block;
}

nav a:hover {
    background-color: #373754;
    /* Изменение фона при наведении */
}

/* Прячем чекбокс */
.menu-toggle {
    display: none;
}

/* Иконка меню */
.menu-icon {
    display: none;
    /* Прячем иконку на десктопе */
    font-size: 24px;
    color: white;
    background: #373754;
    padding: 10px 15px;
    cursor: pointer;
}


@media (max-width: 1024px) {

    /* Вертикальное меню */
    nav ul {
        display: none;
        /* Прячем меню по умолчанию */
        flex-direction: column;
        /* Вертикальное расположение */
        background-color: #373754;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        /* Занимает всю ширину экрана */
        padding: 0;

    }

    /* Показываем меню, если чекбокс активен */
    .menu-toggle:checked+.menu-icon+ul {
        display: flex;
    }

    /* Иконка меню */
    .menu-icon {
        display: block;
        /* Показываем на мобильных */
    }

    nav li {
        margin: 0;
        /* Убираем отступы между пунктами */
        text-align: center;
        /* Центрируем текст */
    }

    video {
        max-width: 90%;
        /* Сужаем видео на мобильных, если требуется */
    }

    audio {
        max-width: 90%;
        /* Сужаем видео на мобильных, если требуется */
    }


    img {
        max-width: 90%;
        /* Сужаем видео на мобильных, если требуется */
    }
}



@keyframes slide-in {
    0% {
        top: -50px;
    }

    40% {
        top: 20px;
    }

    70% {
        top: 10px;
    }

    100% {
        top: 15px;
    }
}

main {
    text-align: center;
    flex: 1;
    border-radius: 30px;

}


.contacts {
    display: block;
    text-align: left;

}


ul .contacts {
    color: white;

}

a .contacts {
    color: white;
    /* Цвет ссылок */
}

a .projects {
    color: white;
    /* Цвет ссылок */
}

.contacts:visited {
    color: #fca1ff;
    /* Цвет посещенных ссылок */
}



form {
    margin-right: 40px;
}

.about {
    display: flex;
}

.entertainment {
    display: flex;
    color: white;

    justify-content: space-between;
}


#block1,
#block2,
#block3 {
    flex: 1;
    margin: 2px;
    border: 1px solid #ffffff;
    padding: 10px;
    /*background: lightgray;*/
}



.entertainment:visited {
    color: #fca1ff;
    /* Цвет посещенных ссылок */
}



#ent_block1,
#ent_block2,
#ent_block3,
#ent_block4 {
    flex: 1;
    margin: 2px;
    padding: 10px;
}



#wb_block1,
#wb_block2,
#wb_block3 {

    flex: 1;
    text-align: center;
    /*margin: 2px;
    /*border: 1px solid #ffffff;
    padding: 10px;
    /*background: lightgray;*/
}

.footer {
    /*position: absolute;
    /* Фиксируем подвал */
    /*bottom: 0;
    /* Всегда внизу, на виду */
    /*width: 100%;
    /* Занимает всю ширину экрана */
    text-align: center;
    padding: 10px;
}

a .projects {
    color: white;
    /* Цвет ссылок */
}

.projects:visited {
    color: #fca1ff;
    /* Цвет посещенных ссылок */
}