<div class="w-full flex justify-center space-x-4 h-12 bg-zinc-400 pt-4 pb-4">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
</div>
